{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'ff/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'stalls/jan.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!-- <script src="{% static 'stalls/main.js' %}"></script> -->
    <title>{% block title %} {% endblock %}</title>
    <title>ForFash</title>
</head>

<body>
    <header id="site-header">
        <div class="container header-row">
            <div class="header_block">
                <a class="navbar-brand" href="/">
                    <img id="logo" src="media/forfash-logo.png" alt="">
                </a>
            </div>
            <div class="header_block">
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="" >Plans</a>
                        </li>
                        {% for cat in cats %}
                            <li><a href="{% url 'cat' cat.id %}">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    {% block body %} {% endblock %}

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <span>24Hackathon - Subcription for apparels</span>
            <span class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                <a href="#">ForFash</a>.
            </span>
        </div>
    </footer>

</body>

</html>