{% extends "ff/base.html" %} {% block title %} WhiteBoard {% endblock %} {% load static %} {% block body %}

<div>
    <img class="heroImg" src="{% static 'ff/img/hero.jpg' %}">
</div>
<main class="">
    <section class="container">
        
        <h4 class="caps">shoes</h4>
        <div class="vid_row">
            {% for shoe in shoes %}
            <div class="vid_box">
                <a href="">
                    <!-- media shouldnt be manually added -->
                    <img src="media/{{ shoe.thumbnail1 }}" alt="">
                </a>
                <h6 class="vid_title">{{ shoe.name }}</h6>
                
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}